* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
}

window#waybar {
	background-color: rgba(21, 22, 30, 1);
	border-radius: 16px;
	color: #9ece6a;
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/
window#waybar.termite {
	background-color: #3F3F3F;
}

button {
	/* Use box-shadow instead of border so the text isn't offset */
	/* Avoid rounded borders under each button name */
	border: none;
	border-radius: 16px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	background: inherit;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
	background-color: #a37800;
}

#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: #15161e;
	border-radius: 16px;
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused,
#workspaces button.active {
	color: white;
}

#workspaces button.urgent {
	background-color: #f7768e;
}


#clock,
#cpu,
#memory,
#disk,
#pulseaudio,
#tray {
	padding: 0 10px;
	color: #ffffff;
	border-radius: 16px;
}

#window,
#workspaces {
	margin: 0 4px;
	color: #15161e;
	padding: 0 10px;
	border-radius: 16px;
	background-color: #bb9af7;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
	background-color: #7aa2f7;
	border-radius: 16px;
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
	margin-right: 0;
}


#clock {
	background-color: #64727D;
}

@keyframes blink {
	to {
		background-color: #ffffff;
		color: #000000;
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */

label:focus {
	background-color: #000000;
}

#cpu {
	background-color: #2ecc71;
	color: #000000;
}

#memory {
	background-color: #9b59b6;
}

#disk {
	background-color: #964B00;
}

#pulseaudio {
	background-color: #f1c40f;
	color: #000000;
}

#pulseaudio.muted {
	background-color: #90b1b1;
	color: #2a5c45;
}

#temperature {
	background-color: #f0932b;
}

#temperature.critical {
	background-color: #eb4d4b;
}

#tray {
	background-color: #15161e;
}

#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #f7768e;
}

#custom-power {
	color: #f7768e;
}
